@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url("../../lib/font/Quicksand/Quicksand-Regular.woff");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url("../../lib/font/Quicksand/Quicksand-Bold.woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../../lib/font/Open_Sans/OpenSans-Regular.woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../../lib/font/Open_Sans/OpenSans-Bold.woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../../lib/font/Open_Sans/OpenSans-Italic.woff");
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../../lib/font/Open_Sans/OpenSans-BoldItalic.woff");
}
